@model ToDoApp.ViewModel.HomeIndexViewModel
@{
	ViewBag.Title = "Home";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="table">
	<table>
		<tr>
			<td class="col-description">
				@Html.DisplayNameFor(model => model.ToDoItems.FirstOrDefault().Description)
			</td>
			<td class="col-category">
				@Html.DisplayNameFor(model => model.ToDoItems.FirstOrDefault().Category)
			</td>
			<td class="col-duedate">
				@Html.DisplayNameFor(model => model.ToDoItems.FirstOrDefault().DueDate)
			</td>
			<td class="col-status">
				@Html.DisplayNameFor(model => model.ToDoItems.FirstOrDefault().Status)
			</td>
			<td class="col-actions">
				Actions
			</td>
		</tr>
		@foreach (var item in Model.ToDoItems)
  {
			<tr>
				<td class="col-description">
					<span>@Html.DisplayFor(modelItem => item.Description)</span>
				</td>
				<td class="col-category">
					<span>@Html.DisplayFor(modelItem => item.Category)</span>
				</td>
				<td class="col-duedate">
					<span>@Html.DisplayFor(modelItem => item.DueDate)</span>
				</td>
				<td class="col-status">
					<span>@Html.DisplayFor(modelItem => item.Status)</span>
				</td>
				<td class="col-actions">
					@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Id })
				</td>
			</tr>
  }
	</table>
</div>
<div class="add-task">
	@Html.ActionLink("Add Task", "Create")
</div>
