@using ToDoApp.Core.Helpers
@model ToDoApp.UI.ViewModel.Account.RegisterViewModel
@{
	ViewBag.Title = "Register";
}
@using (Html.BeginSignInForm())
{
	<h2>Create an account</h2>
    @Html.AntiForgeryToken()
	@Html.ValidationMessage("AccountExistsError")
	@Html.LabelFor(model => model.FirstName, new { @class = "sr-only" })
	@Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(model => model.FirstName).ToString() })
	@Html.ValidationMessageFor(model => model.FirstName)
	@Html.LabelFor(model => model.LastName, new { @class = "sr-only" })
	@Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(model => model.LastName).ToString() })
	@Html.ValidationMessageFor(model => model.LastName)
	@Html.LabelFor(model => model.Email, new { @class = "sr-only" })
	@Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(model => model.Email).ToString() })
	@Html.ValidationMessageFor(model => model.Email)
	@Html.LabelFor(model => model.Password, new { @class = "sr-only" })
	@Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(model => model.Password).ToString() })
	@Html.ValidationMessageFor(model => model.Password)
	<button type="submit" class="btn btn-lg btn-success btn-block">Sign In</button>
}